
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal2">Tıklayınız</button>

<div class="modal" id="Modal2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">HAKKIMDA</h3>
            </div>
            <br />
            <div style="margin-left:10px;">
                <p style="text-transform:uppercase">Bu site Murat KÖŞELİ tarafından tasarlanmış ve geliştirilmiştir.</p>
            </div>
        </div>
    </div>

</div>